@use "../abstracts/variables" as *;
.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
  .price {
    font-size: 2rem;
  }
  .quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
    .count {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
